/*------------ Variables Css---------- */

/* typography */
:root {
    --body-font: 'Roboto','Verdana',sans-serif;
  }
  /* colors */
  :root {
    --dark-color: #000000;
    --paragraf-color:#333B41;
    --light-color: #fff;
    --accent-color:#FE9013;
    --light-bg-color:#E5E5E5;
    --footer-bg-color:#111115;
    --socials-bg-color:rgba(196, 196, 196, 0.5);
    --testimonial-cards-bg-color:#F1F3F2;
    --btn-hover-color: #E47209;
    --btn--active-color:#4B9200;
    --btn--disabled-color: #767474;
  }
/*--------- BASE ---------------*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
 body{
    font-family: var(--body-font);
    font-size:1rem;
    width: 100%;
    min-height: 100vh;
    color: var(--dark-color);
 }
 .container{
    max-width: 1160px;
    margin: 0 auto;
 }
 h2{
font-weight: 400;
font-size: 48px;
line-height: 120%;
font-style: normal;
 }
 h3{
font-weight: 400;
font-size: 36px;
line-height: 130%;
font-style: normal;
 }
 /* subtitle */
h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    text-transform: uppercase;
    color: var(--dark-color);
    font-family: var(--body-font);
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
}
a{ text-decoration: none;}
li{
    list-style-type: none;
}
ul{
    list-style: none;
}
button{
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    padding: 16px 0;
    width: 298px;
    color: var(--light-color);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    text-align: center;
    font-style: normal;
    cursor: pointer;
    border-radius: 25px;

}
button:hover{
  background: #E47209;
}
button:active{
  background: var(--btn--active-color);
}
/*----------- CSS Classes--------- */
 .rounded_btn{
  border-radius: 25px;
}

.rounded_btn:hover{
  background: #E47209;
  color: white;
}
.rounded_btn:active{
  background: var(--btn--active-color);
}
.square_btn{
  border-radius: 5px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-family: var(--body-font);
font-weight: 500;
line-height: 140%;
text-transform: uppercase;
font-style: normal;
color: var(--light-color);
}
.square_btn:hover{
  background-color: #E47209;
}
.square_btn:active{
  background: var(--btn--active-color);
}
.subtitle{
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  font-style: normal;
}

/*---------- LAYOUT---------- */
/* ----------HEADER, LOGO AND NAV-------------- */
.header{
  position: relative;
  background-color: var(--dark-color);
  max-height:80px;
  z-index: 10;
}
.header__content{
height:80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  border: 1px solid var(--light-color);
  border-radius: 2px;
  text-align: center;
}
.header__logo a{
  color: var(--light-color);
}
.logo__link h1{
font-family: var(--body-font);
font-size: 1.188rem;
max-width: 72.49px;
font-weight: 400;
line-height: 120%;
color: var(--light-color);
margin:3.55px 4.75px;
cursor: pointer;
}
.logo__link h1:hover{
  color: var(--accent-color);
}
.logo__link h1 .o-letter{
  position: relative;
}
.logo__link h1 .o-letter::before{
  content: url(../../assets/icons/header-hero/bamboo.svg);
  position: absolute;
  right: 4px;
  bottom:0;
}
.header__logo-nav{
  max-height:80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 63px;
}
.header__menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
}
.header__menu a:hover,.nav__designer a:hover{
color: var(--accent-color);
}
.header__menu a:active,.nav__designer a:active{
  color: var(--accent-color);
  }
.header__link,.nav__designer a{
  font-family: var(--body-font);
  color:var(--light-color);
  font-size:1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
}
.active{
  color: #E47209;
}
#burger-menu{
  display: none;
}
/*---------------- HERO SECTION----------------- */
   .hero{
    margin-top: -80px;
    background: url(../../assets/images/hero-backstage/giant-panda.png)no-repeat center/cover;
    object-fit: cover;
    position: relative;
    }
    .hero__content{
      height:780px;
      color: var(--light-color);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 69px;
      text-align: center;
    }
    .hero__content h2{
      width: 500px;
      font-weight: 700;
      font-size: 6.656rem;
      line-height: 75%;
      text-align: center;
      text-transform: uppercase;
      margin-top:80px;
      padding-top: 88px;
      position: relative;
      z-index: 1;
    }
    .hero__content h2 .colored{
      color:#FFEE2E;
    }
    .hero__content h2::before{
      content: "";
      width: 465px;
      height: 465px;
      border-radius:50%;
      position: absolute;
      background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      z-index:-1;
      top: 14px;
      right: 108.31px;
    }
    .hero__btn{
      background: transparent;
      border-radius: 25px;
      margin-right: 7%;
      cursor: pointer;
    }
    .hero__btn a{
    color: var(--light-color);
    }
    /* -----------------BACKSTAGE----------------- */
    .backstage{
      height: 720px;
      background-color: var(--light-bg-color);
      padding: 140px 0 0 0;
      position: relative;
      z-index: 4;
    }
    .backstage::after{
      content: url(../../assets/images/hero-backstage/flower_foto1.png);
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    .backstage__content{
      height:403px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      gap: 80px;
      background-color: var(--light-bg-color);
      color: var(--paragraf-color);
    }
    .backstage__img-box img{
    backdrop-filter: blur(2px);
    border-radius: 4px;
    width: 100%;
    height: auto;
    }
    .backstage__text-box{
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .backstage__text1{
    line-height: 130%;
    }
    .backstage__subtitle{
    line-height: 120%;
    color: var(--paragraf-color);
    }
    .backstage__text2{
      line-height: 120%;
      font-weight: 400;
    }
    /*---------------------- PET SECTION -------------------------*/
   .pets{
    height: 100%;
    background-color: var(--light-bg-color);
    position: relative;
    }
   .animal-cards__content{
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      justify-content: center;
      align-items: center;
      grid-row-gap: 20px;
      grid-column-gap: 30px;
    }
    .animal-cards__content figcaption{
      min-height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
      color: var(--dark-color);
    }
    /* border liner gradinet */
    .animal-cards__card{
    background:linear-gradient(#fff,#fff) padding-box,
    linear-gradient(to right,#FA6F32,#FE9013) border-box;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    }
    .animal-cards__card:hover figcaption {
    background: rgba(239, 235, 234, 0.74);
    width: 100%;
    height: 350px;
    transition: all ease-in-out 1s;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid  white;
    border-radius: 50%;
    align-items: center;
    }
    .animal-cards__card:hover img{
    transition: all ease-in-out 1s;
    }
    .animal-cards__card img{
      border-radius: 5px;
      width: 100%;
    }
    .animal-cards__content{
      position: relative;
      z-index: 5;
    }
    .slider-btns{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .animal-cards__slider-arrow {
      position: absolute;
      width: 62px;
      height: 62px;
      background-color: var(--accent-color);
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
      z-index: 15;
    }
    .prev {
      top: 37%;
      left: 0.5rem;
      z-index: 100;
    }
    .next {
      top: 37%;
      right: 0.5rem;
      z-index: 100;
    }
    .arrow-active:active {
      background-color: var(--btn--active-color);
    }
    .animal-cards__button{
    text-align: center;
    padding: 80px 0 100px 0;
    }
    .pets::before{
      content: url(../../assets/images/animal-card/palm_foto.png);
      position: absolute;
      left: 0;
      bottom: -4px;
      z-index: 1;
    }
    .pets::after{
      content: url(../../assets/images/animal-card/strelitzia-flower1.png);
      position: absolute;
      bottom: -4px;
      right: 0;
      z-index: 1;
    }
    /*------------------- SECTION PICK AND FEED ---------------------------------*/
    .pick-and-feed{
      height: 1004px;
      background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
      opacity: 0.9;
      position: relative;
      z-index: 5;
    }
    .pick-and-feed .container{
      height: 1004px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .pick-and-feed__content{
      height: 835px;
      background: rgba(253, 253, 255, 0.52);
      backdrop-filter: blur(2px);
      border-radius: 20px;
      padding-left: 100px;
      color: var(--paragraf-color);
    }
    .pick-and-feed__title{
     color: var(--accent-color);
     padding: 40px 0 30px 0;
     padding-right: 47px;
    }
    .pick-and-feed__subtitle{
      padding-bottom: 40px;
      text-align: left;
    }
    .pick-and-feed__text{
      line-height: 130%;
      font-weight: 500;
      text-align: left;
      padding-bottom: 10px;
    }
    .pick-and-feed__text2{
    font-weight: 400;
    text-align: left;
    padding-right: 198px;
    }
    .pick-and-feed__text2 a {
      color:#333B41;
      text-decoration: underline;
      text-decoration-color: var(--accent-color);
      text-underline-offset: 5px;
    }
    .how-it-works h3{
    margin: 60px 0 40px 0;
    }
    .how-it-works__cards .cards{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    .img-box{
      display:grid;
      place-items: center;
      width:168px;
      height: 168px;
      background:linear-gradient(#fff,#fff) padding-box,
      linear-gradient(to right,#FA6F32,#FE9013) border-box;
      border: 1px solid transparent;
      border-radius: 5px;
      margin-bottom:30px ;
    }
    .cards figure .img1{
      width: 60px;
      height: 108px;
    }
    .cards figure .img2{
      width: 85.77px;
      height: 95px;
    }
    .cards figure .img3{
      width: 124.75px;
      height: 71.6px;
    }
    .cards figure  figcaption{
      width:168px;
      height: 46px;
     text-align: left;
     color: var(--paragraf-color);
     font-size: 16px;
     font-weight: 400;
     line-height: 140%;
     font-style: normal;
    }
    .how-it-works__button{
      width: 100%;
      padding: 16px 0;
      width: 298px;
     background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      border: none;
      cursor: pointer;
      border-radius: 25px;
       margin: 60px auto;
    }
    .how-it-works__button:hover{
      background: #E47209 ;
    }
    .how-it-works__button:active{
      background: var(--btn--active-color);
    }
    .how-it-works__button a{
      color: var(--light-color);
      font-family: var(--body-font);
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      text-align: center;
      font-style: normal;
    }
    /*--------------------- TESTIMONIALS SECTION-------------------- */
  .testimonials{
    background-color: var(--light-bg-color);
    height: 842px;
    position: relative;
    z-index: 5;
  }
  .testimonials::after{
    content: url(../../assets/images/testimonial-footer/leav_foto.png);
    position: absolute;
    bottom:-100px;
    right: 0;
    z-index: -1;
  }
  .testimonials__content{
    display: flex;
    flex-direction: column;
    height: 842px;
    justify-content: center;
    align-items: center;
  }
  .testimonials__content h3{
    margin-top: 38px;
  }
  .testimonials__cards{
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .testimonials__card{
    width: 266px;
    height: 391px;
    background-color:#F1F3F2;
    padding: 15px 16px 20px 15px;
    overflow: hidden;
    border-radius: 20px;
    background:linear-gradient(#F1F3F2,#F1F3F2) padding-box,
    linear-gradient(to left,rgba(254, 189, 171, 0.74) 74%,rgba(243, 169, 248, 0.66) 66%,rgba(224, 216, 240, 1)100%,rgba(234, 247, 254, 1) 100%,rgba(234, 247, 254, 1)100%) border-box;
    border: 2px solid transparent;
    margin: 47px 0 21px 0;
  }
  .testimonials__card:hover{
    border: 4px solid transparent;
  }
  .testimonials__header{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
  }
  .testimonials__header img{
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .user_info{
    display: flex;
  }
  .user_name{
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--dark-color);
  }
  .user_data{
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
  font-style: normal;
  color:#BDBDBD;
  }
  .testimonials__teastimonial p{
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
  color: #767474;
  }
  .testimonials__teastimonial:last-child{
    padding-bottom: 20px;
  }
  .testimonial__button{
  align-self: flex-start;
margin-top: 3rem;
  }
  .range{
    height: 8px;
    width: 600px;
    background-color:
    #F5F7F6;
    position: relative;
    background:linear-gradient(#F1F3F2,#F1F3F2) padding-box,
    linear-gradient(to left,rgba(254, 189, 171, 0.74) 74%,rgba(243, 169, 248, 0.66) 66%,rgba(224, 216, 240, 1)100%,rgba(234, 247, 254, 1) 100%,rgba(234, 247, 254, 1)100%) border-box;
    border: 0.5px solid transparent;
    border-radius: 5px;
    margin: 2rem 0;
  }
  input[type=range]{
    -webkit-appearance: none;
    border-radius: 5px;
    width: 115.19px;
    height: 6px;
    background-color:  #FE9013;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  input[type=range]:hover {
  width:20px;
  }
  input[type=range]::-webkit-slider-thumb {
    display: none;
  }
  /*--------------- FOOTER---------------- */
.footer{
    height: 443px;
    background-color: var(--footer-bg-color);
    }
    .footer__content{
      height: 443px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer__logo{
      text-align: center;
      width: 72.49px;
      border: 1.19px solid var(--light-color);
      border-radius: 2px;
      margin-bottom: 68px;
    }
    .footer__logo-link{
      color: var(--light-color);
    }
    .footer__logo p{
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    width: 75px;
    font-weight: 400;
    line-height: 120%;
    color: var(--light-color);
    padding:3.55px 4.75px;
    }
    .footer__logo p:hover{
      color: #E47209;
    }
    .footer__logo p .o-letter{
      position: relative;
    }
    .footer__logo p .o-letter::before{
      content: url(../../assets/icons/header-hero/bamboo.svg);
      position: absolute;
      right:45px;
      bottom:0;
    }
    .footer__button{
      width:298px ;
      text-align: center;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      padding: 16px 20px;
      border-radius: 5px;
      margin-bottom: 44px;
    }
    .footer__button a{
      color: var(--light-color);
      font-size: 16px;
      font-family: var(--body-font);
      font-weight: 500;
      line-height: 140%;
      text-transform: uppercase;
      font-style: normal;
    }
    .footer__button:hover{
      background:  #E47209;;
    }
    .footer__button:active{
      background: var(--btn--active-color);
    }
    .footer li {
      margin-bottom: 10px;
    }

.footer__icons a{
  display: flex;
  color: var(--light-color);
  font-family:var(--body-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.footer__icons li:active img{
  background: var(--btn--active-color);
}
 .footer__icons li:active a{
  color:var(--btn--active-color);
 }
.footer__icons img{
  margin-right: 12px;
background: var(--socials-bg-color);
border-radius: 50%;
object-fit: cover;

}
.footer__icons .facebook{
  padding: 5px 9px;
}
.footer__icons .twitter{
  padding: 6px 5px;
}
.footer__icons .instagram{
padding: 5px;
}
.footer__icons .youtube{
padding: 6px 5px;
}

    /* .footer__icons{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .footer__icons img{
      background-color: var(--socials-bg-color);
      margin-right: 12px;
      position: relative;
      bottom: 2px;
      width: 26px;
      height: 26;
     /* border-radius: 50%;*/
     /* object-fit: cover;
    }
    .footer__icons img:hover{
      background-color: #4B9200;
    }
    .footer__icons a{
      color: var(--light-color);
      padding-right: 12px;
      line-height: 22.4px;
    }
    .footer__icons a:hover{
    color: #4B9200;
    }
    .footer__icons img{
    padding: 5px;
    margin-right: 12px ;
    } */
    .footer__middl{
      align-self: flex-end;
      padding-bottom: 45px;
    }
    .subscription{
    height: 443px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    gap: 90px;
    }
    .subscription h5{
      font-family:var(--body-font) ;
    font-size: 24px;
    color: var(--light-color);
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    }
    input[type=email]{
      background-color: transparent;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      width: 228px;
      padding: 10px;
      height: 42px;
      border: 1px solid rgba(249, 128, 75);
      margin-right: 6px;
    }
    input[type=email]:focus{
    outline-color: #4B9200;
    outline-width: 3px;
    border: #4B9200 ;
    color: white;
    }
    input[type=submit]{
      padding:10px;
      background: #F1F3F2;
      color: var(--dark-color);
      width: 128px;
      height: 42px;
      border-radius: 5px;
      color: var(--dark-color);
      cursor: pointer;
    }
    input[type=submit]:hover{
      border: 1px solid var(--accent-color);
    }
    input::placeholder{
      font-family: var(--body-font);
      font-size: 16px;
      line-height: 140%;
      font-weight: 400;
      color: var(--light-color);
    }
    input[type=submit]:active{
      color: var(--btn--active-color);
      border: 2px solid var(--btn--active-color);
    }
  .input[type=email]:focus input[type=submit]{
    color: var(--btn--active-color);
    border: 1px solid var(--btn--active-color);
  }
    .input[type=email]:invalid + input[type=submit]{
      color:  #D31414;
      border: 1px solid  #D31414;
      font-style: normal;
       font-weight: 400;
       font-size: 16px;
     line-height: 140%;
    }
    .input[type=email]:active, .input[type=email]:focus{
      outline: none;
      color:  #BDBDBD;
      font-weight: 400;
      font-size: 16px;
    line-height: 140%;
    }
    input:focus::placeholder{
      color:  #BDBDBD;
      font-weight: 400;
      font-size: 16px;
    line-height: 140%;
    }
    .copyright a,.copyright p{
      color: rgb(186, 177, 177);
      font-size: 16px;
      font-weight: 100;
      line-height: 200%;
      cursor: pointer;
    }
    .copyright a:hover,.copyright p:hover{
      color: var(--light-color);
      text-decoration: underline;
    }
    .copyright a:active,.copyright p:active{
      color: var(--btn--active-color);
      text-decoration: underline;
    }
       /* responsive design with media queary*/

    @media screen and (max-width:1600px) {
      .container{
        width: 1160px;
        margin: 0 auto;
     }}
     @media screen and (max-width:1314px) {
      .container{
        width: 1100px;
        margin: 0 auto;
     }
     #email,#btn{
      width: 120px;
     }
    }
     @media screen and (max-width:1203px) {
      .container{
        width: 1000px;
        margin: 0 auto;
     }
     .dnte{
      display: none;
     }
     .backstage::after {
      display: none;
     }}
     @media screen and (max-width:1173px) {
      .container{
        width: 980px;
        margin: 0 auto;
     }
     .prev {
      top: 35%;
    }
    .next {
      top: 35%;
    }
    .testimonials__cards{
      gap: 5px;
    }
    }
    @media screen and (max-width:1173px) {
      .container{
        width: 950px;
        margin: 0 auto;
     }
     .last{
      display: none;
     }
     .testimonials__cards{
      gap: 30px;
    }}

    @media screen and (max-width:1085px){
      .container{
        width: 942px;
     }
     .animal-cards__content {
      grid-row-gap: 90px;
  }
    }
  /* 1000px */
    @media screen and (max-width:1000px) {
      .container{
        width: 940px;
     }
     .prev {
      top: 35.5%;
      left: 35%;
    }
    .next {
      top: 35.5%;
      right: 35%;
    }
/*hero*/
.hero__content h2{
  width: 400.25px;
  font-size:5.313rem;
  margin-top: 30px;
  margin-right: 50px;
}
.hero{
  margin-top: -80px;
  }
  .hero__content{
    height:584px;
  }
  .hero__content h2::before{
    content: "";
    width: 367px;
    height: 367px;
    top: 40px;
    right: 100px;
  }
    /*backstage*/
    .backstage__img-box img{
      width: 92%;
      height: 410px;
      }
    .backstage__text-box{
      width: 60%;
      }
    .backstage h2{
      font-size: 40px;
      font-family: var(--body-font);
      height: 116px;
    }
    .hero__btn{
      margin-right: 11%;
      margin-top:-20px;
      cursor: pointer;
      z-index: 10;
    }
    .hero__btn a{
    color: var(--light-color);
    }

    .animal-cards__slider-arrow {
      width: 62px;
      height: 62px;
    }
    .pets::before{
      content: url(../../assets/images/animal-card/palmSmall.png);
      position: absolute;
      left: 0;
      bottom:-5px;
      z-index: 1;
    }
    .pets::after{
      content: url(../../assets/images/animal-card/strelitziaSmall.png);
      position: absolute;
      bottom: -5px;
      right: 0;
      z-index: 1;
    }
    /*------------Pick and Feed ---------------*/
 /* .pick-and-feed{

  /* display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
 }*/
.pick-and-feed .container{
 width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
}
.pick-and-feed__content{
  height: 796px;
   padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -15px;
}
.pick-and-feed__title{
 color: var(--accent-color);
margin: 0;
padding: 2rem 0;
}
.pick-and-feed__text,.pick-and-feed__text2{
  text-align: left;
  padding-left: 4rem;
  padding-right: 2rem;
}
.testimonials::after{
  content: url(../../assets/images/testimonial-footer/leav_small.png);
  position: absolute;
  right: 0;
  z-index: -1;
}
}

@media screen and (max-width: 958px){
  .container{
    max-width: 800px;
    margin: 0 auto;
 }
 .backstage__text-box{
  width: 60%;
  }
  .backstage h2{
    font-size: 36px;
  }
  .prev {
    top: 34%;
    left: 36%;
  }
  .next {
    top: 34%;
    right: 36%;
  }
  .animal-cards__slider-arrow{
    width: 60px;
    height: 60px;
  }
  .pick-and-feed__content{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: var(--paragraf-color);
    padding:0 50px;
  }
  .pick-and-feed__title{
  font-size: 36px;
  padding-top: 8rem;
  }
  .pick-and-feed__subtitle{
    font-size:24px
  }
  .how-it-works{
    height: 600px;
  }
  .how-it-works h3{
    margin: 0;
  }
  .testimonials__cards{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .footer{
    position: relative;
  }
  .subscription{
    display: none;
  }
  .footer__icons{
 position: absolute;
 right: 50px;
 top: 50px;
  }
}

@media screen and (max-width: 870px){
  .container{
    max-width: 750px;
 }
 .header__link{
  font-size: 0.7rem;
 }
 .hero__content h2{
  font-size: 4rem;
 }
 .hero__content h2::before{
width: 300px;
height: 300px;
 }
 .prev {
  top: 34.5%;
  right: 35%;
}
.next {
  top: 34.5%;
  right: 35%;
}
.cards__slider-arrow{
  width: 50px;
  height: 50px;
}
.first{
  display: none;
}
.how-it-works__cards .cards {
  gap: 10px;
}
.footer-nav-link{
  color: #fff;
  }
}
@media screen and (max-width: 800px){
  .container{
    max-width: 690px;
 }
 .header__logo-nav {
  gap: 60px;
}
.logo__link h1 {
  font-size: 1rem;
  max-width: 72.49px;
  margin: 3px 4px;
  cursor: pointer;
}
.logo__link h1 .o-letter::before {
  right:2.8rem;
  bottom: 0;
}
.subtitle {
  font-size: 20px;
}
.nav__designer a{
  font-size: 0.8rem;
}
 .backstage h2 {
  font-size: 30px;
}
.backstage__text-box {
  gap: 5px;
}
 .footer-nav-link{
  color: #fff;
  }
  .animal-cards__slider-arrow{
    width: 50px;
    height: 50px;
  }


}
/*-------------- Tablet size------------------ */
@media screen and (max-width: 768px){
  .container{
    max-width: 620px;
  }
  .header{
    width: 100vw;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .hero__content h2{
    top: 10%;
    margin-bottom: 4rem;
  }

  .display {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
 left:0;
 top: 70px;
background-color: white;
padding: 40px 50%;
display: none;
text-align: center;
z-index: 101;
}
.display.active{
  display: block;

}
.display a{
  color: #000;
  width: 500px;
  font-size: 1rem;
}
.designer-display{
position: absolute;
right:41%;
top: 200px;
padding-top: 60px;
display: none;
}
.designer-display.active{
  display: block;
}
.designer-display a{
  font-size: 0.9rem;
  color: #000;
}
#burger-menu{
  display: block;
}
.backstage__img-box{
  display: none;
}
.backstage::after{
  display: block;
    content: url(../../assets/images/hero-backstage/flower_tablet.png);
    z-index: 1;
    top: 10%;
}
 .tablet{
  display: none;
}
.animal-cards__content{
  grid-template-columns: repeat(2,1fr);
}
.animal-cards__slider-arrow {
  position: absolute;
  width: 60px;
  height: 60px;
}

.pick-and-feed__title{
  font-size: 30px;
}
.pick-and-feed__subtitle{
  font-size: 16px;
}
.how-it-works h3{
  font-size: 24px;
}
.pick-and-feed p{
  font-size: 14px;
}
.prev,.next{
  top: 36%;

}
.testimonials{
 padding-top: 15rem;
height: 100%;
}
.testimonials__cards{
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.testimonials__card{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0.4rem 1rem;
}
.last{
  display: block;
}
.range{
  display: none;
}
.testimonial__button {
 position: relative;
left: 30%;
margin: 1rem 0;
}
.testimonials__content{
height: 680px;
padding: 0 0 20rem 0;
}
.testimonials__content h3{
  font-size: 30px;
}
.footer{
width: 100%;
height: auto;
color: white;
}
.footer__navlist{
  width: 100%;
 margin: 0 auto;
}
.footer__middl{
width: 100%;
position: relative;
left: -120px;
}
.pick-and-feed__subtitle,.pick-and-feed p{
  text-align: center;
  padding: 10px 20px;
}
.pick-and-feed__title{
  padding: 20px 0;
}

}
@media screen and (max-width: 640px){
  .container{
    max-width: 600px;
  }
  .animal-cards__slider-arrow{
    width: 50px;
    height: 50px;
  }

  .hero__content h2{
   margin-right: 0;
   margin-top: 70px;
  }
  .watch-btn{
    left:25%;
  }

  .pick-and-feed__subtitle,.pick-and-feed p{
    text-align: center;
    padding: 10px 20px;
  }
  .pick-and-feed__title{
    padding: 20px 0;
  }
  .img-box {
    width: 150px;
    height: 150px;
}
}
@media screen and (max-width: 565px){
  .container{
    max-width: 500px;
  }
.testimonials{
  padding-top:
    17rem;
}
.testimonials__content h3{
  padding-bottom: 1rem;
}
  .prev{
    left:37%;

  }
  .next{
    right: 37%;
  }
  .arrow-icon{
    display: none;
  }

  .pick-and-feed__title{
    padding-top: 0;
  }
  .img-box figcaption{
    font-size: 0.5rem;
  }
.how-it-works {
  padding: -20px 0;
}

.how-it-works .cards{
  flex-direction: column;
}
 .pick-and-feed{
  height:1042px;
}
.pick-and-feed__content{
  /* height: 1000px; */
  /* margin-top: 10rem; */
 justify-content: center;
 margin-top:0;
 padding: 0;
 height: auto;
}
.pick-and-feed__content figure,figcaption{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 0.7rem;
}
.img-box{
  width: 100px;
  height: 100px;
}
.img-box .img3{
  width: 20px;
}
.footer{
  position: relative;
}
.footer__content{
  width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
height: 265px;
}
.footer__icons{
display: flex;
padding-top: 3rem;
}
.footer__logo{
  padding: 0;
  width: 100%;
position: absolute;
top: 10px;
left: 45%;
border: none;
padding: 1rem 0;
}
/* .footer__logo a{
  width:100%;
} */
.footer__button{
  position: absolute;
  top: 60%;
  left: 25%;
}
.footer__middl{
padding: 0;
position: absolute;
bottom: 1%;
left: 2%;
}
}

@media screen and (max-width: 517px){
.container{
  width: 490px;
}

.backstage::after {
  display: block;
  content: url(../../assets/images/hero-backstage/flower_small.png);
  z-index: 1;
  top: 10%;
}
  .animal-cards__slider-arrow{
  display: none;
}
.animal-cards__slider{
  width: 100%;
  margin-top: -3.5rem;

}
 .animal-cards__content{
   width: 100%;
  grid-template-columns: 1fr;
   gap: 0;
 place-items: center;
 }

.pets::before {
  content: url(../../assets/images/animal-card/palm_fotoSmall.png);
}
.pets::after {
  content: url(../../assets/images/animal-card/strelitzia-small.png);
  position: absolute;
  bottom: -5px;
  right: 0;
  z-index: 1;
}
.pet-btn{
  width: 100%;
margin-top: -3rem;
left: 0;
}
.testimonial-btn{
margin-left: -4rem;
}
.logo__link h1 {
  font-size: 0.7rem;
  max-width: 50px
;
  font-weight: 400;
  color: var(--light-color);
  margin: 3.55px 4.75px;
  cursor: pointer;
}
.header__logo{
margin-left: 3rem;
}
}
@media screen and (max-width: 425px){
  .container{
    width: 400px;
  }
  .hero__content h2 {
    margin-top: 70px;
    font-size: 4rem;
    text-align: center;

  }
  .hero__content h2::before{
right: 40px;
  }
  .footer__button{
    width: 100%;
    left: 0;
  }
  .testimonials__content{
    width: 100%;
  }
  .testimonial-btn{
    margin-left: -4.5rem;
    }
    .testimonials__teastimonial p{
   text-overflow: ellipsis;
    }
    .testimonials__teastimonial .lastp {
    display: none;
    }
    .backstage h2{
      font-size: 24px;
    }
    .footer__icons a{
    left: 2%;
    font-size: 0.7rem;
    }
  }
  @media screen and (max-width: 402px){
    .container{
      width: 370px;
    }
    .watch-btn{
      left:15%;
    }
    .footer__icons{
      right: 15px;
    }
  }
    @media screen and (max-width: 375px){
      .container{
        width: 340px;
      }
      .footer__icons{
        right: 10px;
      }
      .footer__icons a{
        font-size: 10px;
      }
    }
    @media screen and (max-width: 365px){
.container{
  width: 320px;
}
    }
    @media screen and (max-width: 355px){
      .container{
        width: 320px;
      }
      .hero__content h2{
        left: 10%;
      }
      .hero__content h2::before{
        right: 35px;
          }
          .watch-btn{
              left:10%;
          }
          .footer__navlist{
            gap: 40px;
          }
          }
          @media screen and (max-width: 320px){
            .container{
              width: 300px;
            }
            .footer__navlist{
              gap: 40px;
            }
            .testimonial-btn{
              margin-left:-5.5rem;
            }
            .testimonials{
              padding-top: 12rem;
            }
            .testimonials h3{
              padding:0 0 2rem 0;
            }
            .hero__content h2{
              left: 15%;
            }
            .hero__content h2::before{
              right: 45px;
                }
                .watch-btn{
              width: 200px;
              }
          }
