/*------------ Variables Css---------- */

/* typography */
:root {
  --body-font: 'Roboto','Verdana',sans-serif;
}
/* colors */
:root {
  --dark-color: #000000;
  --paragraf-color:#333B41;
  --light-color: #fff;
  --accent-color:#FE9013;
  --light-bg-color:#E5E5E5;
  --footer-bg-color:#111115;
  --socials-bg-color:rgba(196, 196, 196, 0.5);
  --testimonial-cards-bg-color:#F1F3F2;
  --btn-hover-color: #E47209;
  --btn--active-color:#4B9200;
  --btn--disabled-color: #767474;
}
/*--------- BASE ---------------*/
*,
::before,
::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
html {
scroll-behavior: smooth;
}
body{
  font-family: var(--body-font);
  font-size:1rem;
  width: 100%;
  min-height: 100vh;
  color: var(--dark-color);
}
.container{
  max-width: 1160px;
  margin: 0 auto;
}
h2{
font-weight: 400;
font-size: 48px;
line-height: 120%;
font-style: normal;
}
h3{
font-weight: 400;
font-size: 36px;
line-height: 130%;
font-style: normal;
font-family: var(--body-font);
}
/* subtitle */
h4{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  font-style: normal;
  text-transform: uppercase;
  color: var(--dark-color);
  font-family: var(--body-font);
}
p{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  font-style: normal;
  font-family: var(--body-font);
}
a{ text-decoration: none;}
li{
  list-style-type: none;
}
ul{
  list-style: none;
}
button{
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  padding: 16px 0;
  width: 298px;
  color: var(--light-color);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  border-radius: 25px;

}
button:hover{
background: #E47209;
}
button:active{
background: var(--btn--active-color);
}
/*----------- CSS Classes--------- */
.rounded_btn{
border-radius: 25px;
}

.rounded_btn:hover{
background: #E47209;
color: white;
}
.rounded_btn:active{
background: var(--btn--active-color);
}
.square_btn{
border-radius: 5px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
font-family: var(--body-font);
font-weight: 500;
line-height: 140%;
text-transform: uppercase;
font-style: normal;
color: var(--light-color);
}
.square_btn:hover{
background-color: #E47209;
}
.square_btn:active{
background: var(--btn--active-color);
}
.subtitle{
font-weight: 400;
font-size: 24px;
line-height: 120%;
font-style: normal;
}

/*---------- LAYOUT---------- */
/* ----------HEADER, LOGO AND NAV-------------- */
.header{
position: relative;
background-color: var(--dark-color);
max-height:80px;
z-index: 10;
}
.header__content{
height:80px;
display: flex;
justify-content: space-between;
align-items: center;
}
.header__logo{
border: 1px solid var(--light-color);
border-radius: 2px;
text-align: center;
}
.header__logo a{
color: var(--light-color);
}
.logo__link h1{
font-family: var(--body-font);
font-size: 1.188rem;
max-width: 72.49px;
font-weight: 400;
line-height: 120%;
color: var(--light-color);
margin:4px 4.9px;
cursor: pointer;
}
.logo__link h1:hover{
color: var(--accent-color);
}
.logo__link h1 .o-letter{
position: relative;
}
.logo__link h1 .o-letter::before{
content: url(../../assets/icons/header-hero/bamboo.svg);
position: absolute;
right: 4px;
bottom:0;
}
.header__logo-nav{
max-height:80px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 75px;
}
.header__menu{
display: flex;
justify-content: center;
align-items: center;
gap: 60px;
}
.header__menu a:hover,.nav__designer a:hover{
color: var(--accent-color);
}
.header__menu a:active,.nav__designer a:active{
color: var(--accent-color);
}
.header__link,.nav__designer a{
font-family: var(--body-font);
color:var(--light-color);
font-size:1rem;
font-weight: 500;
font-style: normal;
line-height: 140%;
}
.active{
color: #E47209;
}
/*---------------- HERO SECTION----------------- */
 .hero{
  height: 430px;
  background: url(../../assets/images/hero-backstage/giant-panda.png)no-repeat center/cover;
  object-fit: cover;
  }

  /*------------------- SECTION PICK AND FEED ---------------------------------*/
  .pick-and-feed{
    height: 1482px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

  }
  .pick-and-feed .container{
    height: 1004px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: left;
  }
  .pick-and-feed__info{
    padding: 40px 0 50px 0;
  }
  .pick-and-feed__info h3{
    color: var(--light-color);
    padding-bottom: 10px;
  }

.pick-and-feed__info p{
color: var(--light-color);
font-family: var(--body-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
letter-spacing: 1px;
padding-bottom: 50px;
}
.pick-and-feed__info .donation-info{
  color:#FE9013;
  line-height: 130%;
  font-weight: 400;
  font-size: 36px;
}
  .pick-and-feed__content{
    height: 964px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: var(--paragraf-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .pick-and-feed__content-box{
    width: 976px;
    height: 862px;
  }
  .pick-and-feed__title{
   color: var(--accent-color);
  }
  .pick-and-feed__subtitle{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;;
margin: 20px 0 62px 0;
  }
  .pick-and-feed__panda{
    display: flex;
    justify-content: center;
    gap: 55px;
  }
  .number{
    align-self: center;
  }
  .number span{
    color: var(--dark-color);
    font-weight: 500;
    font-size: 60px;
    font-style: normal;
  }
  .number p{
    color: #333B41;
  }
  /*pick-and-feed__progress_bar*/
  .pick-and-feed__progress_bar{
  margin: 48px 0 50px 0;

  }
  .progress_bar{
  width: 976px;
  display: grid;
  place-items: center;

}
fieldset{
  text-align: left;
  border: none;

}
legend{
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color:var(--dark-color);
}
.progress_bar__radios{
  width: 915px;
  display: flex;
justify-content: space-between;
position: relative;
padding-left: 30px;
}

.progress_bar__radio{
  display: flex;
  flex-direction: column;
gap: 21px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 140%;
color: var(--dark-color);
margin-top: 15px;
}
.progress_bar__radios-line{
position: absolute;
width: 915px;
border: solid 2px #72828E;
top: 22%;
z-index: -1;
}
.progress_bar__radios::before{
  content: "";
  width: 976px;
  height: 40px;
  background: #404950;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 5px;
  z-index: -1;
}

.amount{
  appearance: none;
	width: 10px;
	height: 10px;
  background:#FFEE2E ;
	border-radius: 50%;
	background-clip: content-box;
  position: relative;
}
.amount:checked {
  width: 15px;
	height: 15px;
  border: 1px solid  var(--accent-color);
}
input{
  cursor: pointer;
}


.another-amount{
  display: flex;
  justify-content: center;
}
.another-amount form{
  display: flex;
  flex-direction: column;
}
.another-amount .number{
  margin-bottom: 12px;
  position: relative;
}
.number-input{
width: 268px;
height: 54px;
border: 2px solid #929699;
border-radius: 5px;
}
.number-input:active,.number-input:focus{
  border: 2px solid  var(--btn--active-color);
  color: green;
}
.number-input:invalid{
  border: 2px solid red;
  color:red;
}
.number-input:focus{
outline: none;
}
.another-amount  .dollar{
  position: absolute;
  right: 17px;
  top: 20%;
 color: #929699 ;
width: 26px;
height:26px;
font-size: 26px;
}
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
.number-input[type=number] {
  -moz-appearance: textfield;
}
.number-input::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  padding: 16px 9px 0;
}

.radio-input{
  margin-bottom: 31px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
 #monthly,#once{
margin-right: 10px;
}
.another-radio {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--accent-color);
	border-radius: 50%;
	background-clip: content-box;

}

.another-radio:checked {
	background-color: var(--accent-color);
}
.donate-btn{
  width: 298px;
  color: var(--light-color);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 16px 0;
 margin: 0 auto;
}
.donate-btn:hover{
 background:#E47209 ;
}
.donate-btn:active{
  background: var(--btn--active-color);
}
.donate-btn a{
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  color: var(--light-color);
}

.share{
  display: block;
  margin-top: 31px;
  cursor: pointer;
}
.share:hover{
  color:  var(--btn--active-color);
}
/*---------------DONATE FOOTER---------------- */
.footer{
  height: 443px;
  background-color: var(--footer-bg-color);
  }
  .footer__content{
    height: 443px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo{
    text-align: center;
    width: 72.49px;
    border: 1.19px solid var(--light-color);
    border-radius: 2px;
    margin-bottom: 68px;
  }
  .footer__logo-link{
    color: var(--light-color);
  }
  .footer__logo p{
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  width: 75px;
  font-weight: 400;
  line-height: 120%;
  color: var(--light-color);
  padding:3.55px 4.75px;
  }
  .footer__logo p:hover{
    color: #E47209;
  }
  .footer__logo p .o-letter{
    position: relative;
  }
  .footer__logo p .o-letter::before{
    content: url(../../assets/icons/header-hero/bamboo.svg);
    position: absolute;
    right:45px;
    bottom:0;
  }
  .footer__button{
    width:298px ;
    text-align: center;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    padding: 16px 20px;
    border-radius: 5px;
    margin-bottom: 44px;
  }
  .footer__button a{
    color: var(--light-color);
    font-size: 16px;
    font-family: var(--body-font);
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    font-style: normal;
  }
  .footer__button:hover{
    background:  #E47209;;
  }
  .footer__button:active{
    background: var(--btn--active-color);
  }
  .footer li {
    margin-bottom: 10px;
  }

.footer__icons a{
display: flex;
color: var(--light-color);
font-family:var(--body-font);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
}
.footer__icons li:active img{
background: var(--btn--active-color);
}
.footer__icons li:active a{
color:var(--btn--active-color);
}
.footer__icons img{
margin-right: 12px;
background: var(--socials-bg-color);
border-radius: 50%;
object-fit: cover;

}
.footer__icons .facebook{
padding: 5px 9px;
}
.footer__icons .twitter{
padding: 6px 5px;
}
.footer__icons .instagram{
padding: 5px;
}
.footer__icons .youtube{
padding: 6px 5px;
}
  .footer__middl{
    align-self: flex-end;
    padding-bottom: 45px;
    justify-content: center;
  }

  .subscription{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  gap: 200px;
  }
  form{
    display: flex;
    gap: 4px;
  }
  .subscription h5{
    font-family:var(--body-font) ;
  font-size: 24px;
  color: var(--light-color);
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px;
  }
  input[type=email]{
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    width: 228px;
    padding: 10px;
    height: 42px;
    border: 1px solid rgba(249, 128, 75);
    margin-right: 6px;
  }
  input[type=email]:focus{
  outline-color: #4B9200;
  outline-width: 3px;
  border: #4B9200 ;
  color: white;
  }
  input[type=submit]{
    padding:10px;
    background: #F1F3F2;
    color: var(--dark-color);
    width: 128px;
    height: 42px;
    border-radius: 5px;
    color: var(--dark-color);
    cursor: pointer;
  }
  input[type=submit]:hover{
    border: 1px solid var(--accent-color);
  }
  input::placeholder{
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: var(--light-color);
  }
  input[type=submit]:active{
    color: var(--btn--active-color);
    border: 2px solid var(--btn--active-color);
  }
.input[type=email]:focus input[type=submit]{
  color: var(--btn--active-color);
  border: 1px solid var(--btn--active-color);
}
  .input[type=email]:invalid + input[type=submit]{
    color:  #D31414;
    border: 1px solid  #D31414;
    font-style: normal;
     font-weight: 400;
     font-size: 16px;
   line-height: 140%;
  }
  .input[type=email]:active, .input[type=email]:focus{
    outline: none;
    color:  #BDBDBD;
    font-weight: 400;
    font-size: 16px;
  line-height: 140%;
  }
  input:focus::placeholder{
    color:  #BDBDBD;
    font-weight: 400;
    font-size: 16px;
  line-height: 140%;
  }
  .copyright a,.copyright p{
    color: rgb(186, 177, 177);
    font-size: 16px;
    font-weight: 100;
    line-height: 200%;
    cursor: pointer;
  }
  .copyright a:hover,.copyright p:hover{
    color: var(--light-color);
    text-decoration: underline;
  }
  .copyright a:active,.copyright p:active{
    color: var(--btn--active-color);
    text-decoration: underline;
  }
