
    .subscription{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    gap: 200px;
    }
    form{
      display: flex;
      gap: 4px;
    }
    .subscription h5{
      font-family:var(--body-font) ;
    font-size: 24px;
    color: var(--light-color);
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    }
    input[type=email]{
      background-color: transparent;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      width: 228px;
      padding: 10px;
      height: 42px;
      border: 1px solid rgba(249, 128, 75);
      margin-right: 6px;
    }
    input[type=email]:focus{
    outline-color: #4B9200;
    outline-width: 3px;
    border: #4B9200 ;
    color: white;
    }
    input[type=submit]{
      padding:10px;
      background: #F1F3F2;
      color: var(--dark-color);
      width: 128px;
      height: 42px;
      border-radius: 5px;
      color: var(--dark-color);
      cursor: pointer;
    }
    input[type=submit]:hover{
      border: 1px solid var(--accent-color);
    }
    input::placeholder{
      font-family: var(--body-font);
      font-size: 16px;
      line-height: 140%;
      font-weight: 400;
      color: var(--light-color);
    }
    input[type=submit]:active{
      color: var(--btn--active-color);
      border: 2px solid var(--btn--active-color);
    }
  .input[type=email]:focus input[type=submit]{
    color: var(--btn--active-color);
    border: 1px solid var(--btn--active-color);
  }
    .input[type=email]:invalid + input[type=submit]{
      color:  #D31414;
      border: 1px solid  #D31414;
      font-style: normal;
       font-weight: 400;
       font-size: 16px;
     line-height: 140%;
    }
    .input[type=email]:active, .input[type=email]:focus{
      outline: none;
      color:  #BDBDBD;
      font-weight: 400;
      font-size: 16px;
    line-height: 140%;
    }
    input:focus::placeholder{
      color:  #BDBDBD;
      font-weight: 400;
      font-size: 16px;
    line-height: 140%;
    }
    .copyright a,.copyright p{
      color: rgb(186, 177, 177);
      font-size: 16px;
      font-weight: 100;
      line-height: 200%;
      cursor: pointer;
    }
    .copyright a:hover,.copyright p:hover{
      color: var(--light-color);
      text-decoration: underline;
    }
    .copyright a:active,.copyright p:active{
      color: var(--btn--active-color);
      text-decoration: underline;
    }